<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AdminLTE 3 | Login</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Themes/AdminLte/plugins/fontawesome-free/css/all.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="~/Themes/AdminLte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Themes/AdminLte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link href="~/Themes/AdminLte/plugins/jqvmap/jqvmap.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Themes/AdminLte/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Themes/AdminLte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Themes/AdminLte/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/Themes/AdminLte/plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="~/Themes/AdminLTE/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page" style="background: linear-gradient(to top left, #99ccff 0%, #ffccff 100%);">
    <div ng-controller="LoginController" ng-init="Init();">
        <br /><br /><br />
        <div class="login-box  container">
            <div class="login-logo">
                <a class="align-bottom"><img src="~/Themes/AdminLTE/dist/img/database.png" style="height:80px; width:80px;" />&nbsp;<b style="color:Highlight">BDD</b>&nbsp;Database</a>
            </div>

            <!-- /.login-logo -->
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">Sign in to start your session</p>

                    <form asp-action="Login">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" ng-model="employee" placeholder="Username" required>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" ng-model="password" placeholder="Password" required>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8"></div>
                            <!-- /.col -->
                            <div class="col-4">
                                <button type="submit" value="Login" class="btn btn-primary btn-block" ng-click="GetLgEmp(); ">Sign In</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                </div>
                <!-- /.login-card-body -->
            </div>

        </div>
    </div>
</body>
</html>
@section Scripts{
    <script src="~/js/app/controller/LoginController.js"></script>
}

